body{
    background-color: #222222;
    color: white;
    font-family: poppinsregular;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.center{
    background: rgb(52,1,28);
    background: linear-gradient(132deg, rgba(52,1,28,1) 0%, rgba(102,0,80,1) 100%);
    padding: 10px 100px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(255, 0, 140, 0.822);
}

.texto{
    padding: 40px 100px;
}

article{
    text-align: right;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s all;
}
a:hover{
    color: #f35b8b;
}

#especial{
    border: 1px solid #f35b8b;
    background-color: #222222;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s all;
}
#especial:hover{
    background-color: #861e3f;
    color: #ffffff;
}

h1{
    font-weight: 200;
}

/* ---------------------------------- TOPO ---------------------------------- */

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

h2{
    font-size: 25px;
    line-height: 35px;
    font-family: poppinsmedium;
}

span{
    color: #f35b8b;
}

p{
    /* margin-top: 50px; */
    text-align: justify;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 650px;
    border-radius: 5%;
}

#submit{
    background-color: #222222;
    display: flex;
    width: 150px;
    margin-top: 30px;
    border: 1px solid #f35b8b;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-family: poppinsmedium;
    font-size: 16px;
    transition: 0.6s all;
}
#submit:hover{
    background-color: #861e3f;
    cursor: pointer;
}

/* ---------------------------------- TEXT ---------------------------------- */
footer {
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}